


body{background-color:#09595c;
}

h1 { 
    text-align: center;
    color: rgb(3, 10, 16);
    background-color:rgb(43, 173, 67)
}
h4 {
    text-align: center; 
    color: rgb(3, 10, 16);
    background-color:rgb(5, 81, 69)
}

/*--navigation---*/ 
p{ 
    color: rgb(3, 10, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}>

